<!DOCTYPE html>
<html lang="es">
<!-- Bootstrap Grid Stylesheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Include Head -->
<%- include('partials/head', {title: 'Página de Login'  }) %>

    <body>
        <!-- Header -->
        <%- include('partials/headerNavbar', {usuarioLogueado: usuarioLogueado}) %>
            <!-- /Header -->

            <div class="container products-wrapper editProduct">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Formulario de Login</i>
                        </h2>
                    </div>



                    <div class="col-12">
                        <form id="loginForm" action="/users/login" method="POST">
                            <!-- <input type="text" id="id" name="id" class="form-input" value="<%= //product.id %>" style="display: none;"> -->
                            <div class="row product-detail">

                                <% if (typeof errors != 'undefined') { %>
                                    <div class="col-12 users-errors ">
                                        <ul>
                                            <% for(let error of errors) { %>
                                                <div class="d-flex justify-content-center mx-auto" id="error-message">
                                                    <li><i class="fas fa-times-circle"></i>
                                                        <%= error.msg %>
                                                    </li>
                                                </div>
                                                <% } %>
                                        </ul>
                                    </div>
                                    <% } %>


                                        <div class="col-12 col-md-6">
                                            <label for="name" class="form-label">Email</label>
                                            <input type="text" id="email" name="email" maxlength="50" minlength="5" placeholder="Ingrese su email" class="form-input" />
                                            <div id="emptyEmail" class="logErrors"></div>
                                            <div id="invalidEmail" class="logErrors"></div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label for="name" class="form-label">Password</label>
                                            <input type="password" id="password" name="password" maxlength="255" minlength="5" placeholder="Ingrese su password" class="form-input" />
                                            <div id="emptyPassword" class="logErrors"></div>
                                            <div id="invalidPassword" class="logErrors"></div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row justify-content-around align-items-center d-flex">
                                                <button type="submit" class="buy-now-button col-3">Ingresar</button>
                                                <p class="remember"><input type="checkbox" name="remember" id="remember"> Recordarme</p>
                                                <button type="button" class="action-button delete col-3" id="btnCancelar" onclick="location.href='/'">Cancelar</button>
                                            </div>
                                        </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>



            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->

                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
                </script>
                <script type='text/javascript' src="/js/userValidator.js">
                </script>

    </body>

</html>