<!DOCTYPE html>
<html lang="es">
<!-- Bootstrap Grid Stylesheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Include Head -->
<%- include('partials/head', {title: 'Editando: ' + product.name }) %>

    <body>
        <!-- Header -->
        <%- include('partials/headerNavbar', {usuarioLogueado: usuarioLogueado}) %>
            <!-- /Header -->

            <div class="container products-wrapper editProduct">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Estás editando: <i><%= product.name %></i></h2>
                    </div>



                    <div class="col-12">
                        <form id="productForm" action="/products/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                            <input type="text" id="id" name="id" class="form-input" value="<%= product.id %>" style="display: none;">
                            <div class="row product-detail">

                                <% if (typeof errors != 'undefined') { %>
                                    <div class="col-12 users-errors ">
                                        <ul>
                                            <% for(let error of errors) { %>
                                                <div class="d-flex justify-content-center mx-auto" id="error-message">
                                                    <li><i class="fas fa-times-circle"></i>
                                                        <%= error.msg %>
                                                    </li>
                                                </div>
                                                <% } %>
                                        </ul>
                                    </div>
                                    <% } %>

                                        <!-- - FOTO -->
                                        <div class="col-12">
                                            <div class=" mt-2 mt-lg-0 mb-2 container-fluid center-column col-10 col-md-4 col-lg-2 ">
                                                <label for="imageName" class="form-label">Imagen del productc</label>

                                                <div class=" col-12 text-center d-flex justify-content-center previewImage " id="image-preview-div">
                                                    <img id="preview-img" src="/images/products/<%=product.image %>">
                                                </div>
                                                <div class="col-12 row p-0 m-0">
                                                    <label class="btn btn-primary col-6">
                                                <input type="file" name="image" accept=".jpg, .png, .jpeg, .gif" onchange="previewImage(event)" id="image">
                                                Cambiar
                                                    </label>
                                                    <button class="col-6 btnDeleteImage action-button delete" type="button" onclick="deleteImage()">Borrar</button>
                                                    <div id="emptyImg" class="logErrors"></div>
                                                    <div id="invalidImg" class="logErrors"></div>
                                                    <input name="imageName" class="" id="imageName" value="<%=product.image %>" style="display: none;">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12 col-md-6">
                                            <label for="name" class="form-label">Nombre del producto:</label>
                                            <input type="text" id="name" name="name" maxlength="255" minlength="5" placeholder="Ej: Zapatillas Reebok" class="form-input" value="<%= product.name %>" />
                                            <div id="emptyName" class="logErrors"></div>
                                            <div id="invalidName" class="logErrors"></div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label for="price" class="form-label">Precio del producto:</label>
                                            <input type="number" min="0" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= product.price %>" />
                                            <div id="emptyPrice" class="logErrors"></div>
                                            <div id="invalidPrice" class="logErrors"></div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label for="discount" class="form-label">Descuento:</label>
                                            <input type="number" min="0" max="100" step=".1" id="discount" name="discount" placeholder="Ej: 15" class="form-input" value="<%= product.discount %>" />
                                            <div id="emptyDiscount" class="logErrors"></div>
                                            <div id="invalidDiscount" class="logErrors"></div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label for="category" class="form-label">Categoría:</label>
                                            <select name="category" id="category" class="form-input">
                                    <option value="">Elegí</option>
                                    <option value="in-sale" <% if (product.category == 'in-sale') { %> selected="selected"<% } %>>En oferta</option>
                                    <option value="visited" <% if (product.category == 'visited') { %> selected="selected"<% } %>>Últimos visitados</option>
                                        </select>
                                            <div id="emptyCategory" class="logErrors"></div>
                                            <div id="invalidCategory" class="logErrors"></div>

                                        </div>

                                        <div class="col-12">
                                            <label for="description" class="form-label">Descipción:</label>
                                            <textarea name="description" maxlength="500" minlength="20" id="description" class="form-input"><%= product.description %></textarea>
                                            <div id="emptyDescription" class="logErrors"></div>
                                            <div id="invalidDescription" class="logErrors"></div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row justify-content-around align-items-center d-flex">
                                                <button type="submit" class="buy-now-button col-3">Guardar</button>
                                                <button type="button" class="action-button delete col-3" id="btnCancelar" data-toggle="modal" data-target="#modalCancelar">Cancelar</button>
                                            </div>
                                        </div>
                            </div>

                            <!-- Modal de confirmación de cancelar sin guardar datos de producto-->
                            <div class="modal fade" id="modalCancelar" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title d-inline-block">Confirmación</h2>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p>¿Seguro quiere salir sin guardar los cambios?</p>
                                        </div>
                                        <div class="modal-footer  justify-content-center ">
                                            <button id="btnConfSalir" type="button" value="" class="btn btn-primary  col-3" onclick="location.href='/products/detail/<%=product.id %>'">Salir</button>
                                            <button id="btnConfCancelar" type="button" class="btn blanco btn-secondary col-3" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- /todos los productos -->

            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->

                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
                </script>
                <script type='text/javascript' src="/js/productEdit.js">
                </script>
                <script type='text/javascript' src="/js/productValidator.js">
                </script>

    </body>

</html>